<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="services.component.css">
    <title>Our Services</title>
</head>
<body>

<div class="container py-5">
    <div class="row h-100 align-items-start py-5">
        <div class="col-lg-6 offset-lg-6 right-align">
            <h1 class="display-4 fw-bold font-serif">Our Service </h1>
            <h4>Genuine Products: We pride ourselves on sourcing only authentic, high-quality items, ensuring your health is never compromised.</h4>
            <h4>On-Time Delivery: Your well-being can't wait, and neither do our deliveries. Swift and reliable service, every time.</h4>
            <h4>Seamless Payment: Convenience at your fingertips; our hassle-free payment options make your experience effortless.</h4>
            <h4>Refund and Replacement: Your satisfaction is paramount. With our transparent refund and replacement policy, trust that we've got you covered</h4>
        </div>
    </div>
</div>

</body>
</html>
