<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.component.css">
    <title>About Us - E-Medicare</title>
</head>
<body>

<div class="container py-5">
    <div class="row h-100 align-items-start py-5">
        <div class="col-lg-6 offset-lg-6 right-align">
            <h1 class="display-4 fw-bold font-serif">About Us</h1>
            <p class="lead">Serving Since 2012</p>
            <p class="lead">
                E-Medicare: A trusted name in healthcare, we're here to serve by offering affordable medicines and essential healthcare products that bring wellness to your doorstep.
            </p>
        </div>
    </div>
</div>

</body>
</html>
