<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.component.css">
    <title>Contact Us - E-Medicare</title>
</head>
<body>

<div class="container py-5">
    <div class="row h-100 align-items-start py-5">
        <div class="col-lg-6 offset-lg-6 right-align">
            <h1 class="display-4 fw-bold font-serif">Contact Us</h1>
            <p class="lead">E-Medicare</p>
            <p class="lead">
                If you have any questions or concerns, don't hesitate to reach out to us. Our dedicated team is here to assist you. You can also get in touch with us through these channels:
            </p>
            <ul class="contact-info-list">
                <li><i class="fas fa-phone"></i> Phone  : +91-9632258741</li>
                <li><i class="fas fa-envelope"></i> Email :  <a href="mailto:E-Medicare@medicine.co.in">E-Medicare@medicine.co.in</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
