<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <title >E-Medicare Change Password</title>
  <link rel="stylesheet" href="change-password.component.css">
</head>
<body>
  <section class="vh-100 d-flex justify-content-center align-items-center background-image">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 col-lg-5 d-none d-md-block">
          <!-- Image Goes Here -->
        </div>
        <div class="col-md-6 col-lg-7">
          <form [formGroup]="loginRef" (ngSubmit)="changePassword()" class="card-body">
            <div class="text-center mb-3">
              <i class="bi bi-heart-pulse"></i>
              <h1 class="fw-bold  mb-0">E-Medicare</h1>
            </div>
            <h5 class="fw-normal mb-3 pb-3">Change Password</h5>
            <div class="form-outline">
              <label class="form-label" for="form2Example17">Email address</label>
              <input
                type="email"
                formControlName="emailid"
                id="form2Example17"
                class="form-control form-control-lg"
              />
              <span class="small"
                *ngIf="loginRef.get('emailid')?.invalid && loginRef.get('emailid')?.touched">
                <div class="alert alert-warning" role="alert">
                  <h6>Please enter a valid email</h6>
                </div>
              </span>
            </div>
            <div class="form-outline">
              <label class="form-label" for="form2Example27">New Password</label>
              <input
                type="password"
                formControlName="password"
                id="form2Example27"
                class="form-control form-control-lg"
              />
              <span class="small"
                *ngIf="loginRef.get('password')?.invalid && loginRef.get('password')?.touched">
                <div class="alert alert-warning" role="alert">
                  <h6>Please enter a valid password</h6>
                </div>
              </span>
            </div>
            <div class="pt-1 mb-4">
              <button class="btn btn-dark btn-lg btn-block" (click)="changePassword()" type="submit">
                Update Password
              </button>
              <button class="btn btn-secondary btn-lg btn-block" type="reset">
                Reset Form
              </button>
            </div>
            <span style="color: red">{{ msg }}</span><br />
            <p class="mb-5">
              <a routerLink="/login" style="color: #393f81">Back to Login page</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>