.main{
    padding-top: 3rem;;
    background-image: linear-gradient(rgb(49, 61, 200), white);
  }
h2{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    font-family:"Serif";
    text-align: center;
    padding-bottom: 2rem;;
}
.btn1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.btn1:hover {
    background: #ff0000;
    color: white;
  }